# From the Cilium Project, originally taken from various distributions/sources

[Unit]
Description=BPF-fs mount point
Documentation=https://www.kernel.org/doc/html/latest/bpf/index.html
DefaultDependencies=no
Before=local-fs.target umount.target
After=swap.target

[Mount]
What=bpffs
Where=/sys/fs/bpf
Type=bpf
Options=rw,nosuid,nodev,noexec,relatime,mode=700

[Install]
WantedBy=multi-user.target